@model Peach.Recipes.Web.Areas.Recipes.Models.RecipeViewModel
@{
  ViewBag.Title = "Opskrift";
}

<h1>@Model.Recipe.Title</h1>

<h2>Ingredienser</h2>

<table>
@foreach (var ingredient in Model.Recipe.Ingredients)
{
  <tr>
    <td>@ingredient.Quantity</td>
    <td>@ingredient.Unit</td>
    <td>@ingredient.Title</td>
  </tr>
}
</table>

<h2>Fremgangsmåde</h2>

<p>@Model.Recipe.Description</p>