@model Peach.Recipes.Web.Areas.Books.Models.BookViewModel
@using Peach.Profiles.Web.Areas.Profiles
@{
  ViewBag.Title = @Model.Book.Title;
}

<h1>@Model.Book.Title</h1>
<h3>@Html.DisplayProfile(@Model.Book.AuthorId)</h3>

<h2>Introduktion</h2>
<p>@Model.Book.Introduction</p>

<h2>Opskrifter</h2>

<ol>
@foreach (var page in Model.Pages)
{
  <li>
    <a href="@Url.RouteUrl("Books_Page", new { key = Model.Book.Key, page = page.PageNo })">@page.Title</a>
  </li>
}
</ol>

