@model Peach.Recipes.Query.Recipes.RecipePage
@using Peach.Photos.Web.Areas.Photos

<h2>Ingredienser</h2>

<table>
@foreach (var ingredient in Model.Recipe.Ingredients)
{
  <tr>
    <td>@ingredient.Quantity</td>
    <td>@ingredient.Unit</td>
    <td>@ingredient.Title</td>
  </tr>
}
</table>

<h2>Fremgangsmåde</h2>

<p>@Model.Recipe.Description</p>

@Html.DisplayPhoto(new Guid("2F3F1F9A-4DE6-448F-8A88-5CB2559BFEE8"))