@model Peach.Recipes.Web.Areas.Books.Models.PageViewModel
@{
  ViewBag.Title = @Model.Page.Title;
}


<div style="border-bottom: 1px solid #D0D0D0; padding: 0 0 6px 0">
@Html.Partial(@Model.PageTemplateName, @Model.Page)
<br style="clear: both" />
</div>

<div style="float: right; color: #707070">
  @Model.Page.PageNo
</div>

<div style="float: left; color: #707070">
  <a href="@Url.RouteUrl("Books_Default", new { action= "show", key = Model.Book.Key })">@Model.Book.Title</a>
</div>